*.o
*~
psutils*.tar.gz
/.deps/
/.gitmodules
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/gnulib
/lib
/stamp-h1
/epsffit
/includeres
/psbook
/psnup
/psresize
/psselect
/pstops
/*.exe
/libpsutils.a
/TAGS
