*.o
*~
psutils*.tar.gz
/.deps/
/.gitmodules
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/gnulib
/lib
/m4
/stamp-h1
/epsffit
/includeres
/includeres.1
/includeres.man
/psbook
/psnup
/psresize
/psselect
/pstops
/libpsutils.a
