*.o
*~
psutils*.tar.gz
/.deps/
/.gitmodules
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/gnulib
/lib
/stamp-h1
/includeres
/pstops
/psbook
/psjoin
/psresize
/psselect
/psnup
/epsffit
/*.exe
/libpsutils.a
/TAGS
