include psutils.1
include man-include.man
include pstops-include.man
include psbook-include.man
include psselect-include.man
include psnup-include.man
include psresize-include.man
include extractres-include.man
include includeres-include.man
include epsffit-include.man
include tests/conftest.py
include tests/COPYRIGHT
recursive-include tests/test-files *.ps *.eps *.pdf *.txt *.enc
